ARANGO_ROOT_PASSWORD=strongpassword

ARANGO_HOST=db
ARANGO_PORT=8529
ARANGO_DB=mydb
ARANGO_USER=root
ARANGO_PASSWORD=strongpassword

SECRET_KEY=yoursecretkey
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
VITE_API_PROXY_TARGET=http://backend:8000